name: Demo pipeline

on: [push]

jobs:
  deploy:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Slack CLI
        run: curl -fsSL https://downloads.slack-edge.com/slack-cli/install-dev.sh | bash
      - name: Check slack cli version
        run: slack-dev --version
      - name: Try Slack CLI login
        env:
          SUPER_SECRET: ${{ secrets.SLACK_TOKEN }}
        run: slack-dev login --auth "${{ secrets.SLACK_TOKEN }}"
      - name: Create an App from template for Demo purpose
        run: slack-dev create my-app -t slack-samples/deno-hello-world 
      - name: Start Slack CLI commands with the newly created workflow
        run: cd my-app
      - name: Basic Slack CLI commands with service token - deploy app
        run: slack-dev deploy --token "${{ secrets.SLACK_TOKEN }}"
      - name: Basic Slack CLI commands with service token - create trigger
        run: slack-dev deploy --token "${{ secrets.SLACK_TOKEN }}"

      
