name: Test pipeline

on: [push]

jobs:
  deploy:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Slack CLI
        run: curl -fsSL https://downloads.slack-edge.com/slack-cli/install.sh | bash
      - name: Check slack cli version
        run: slack --version
      - name: Try Slack CLI login
        env:
          SUPER_SECRET: ${{ secrets.SLACK_TOKEN }}
        run: slack login --auth "$env:SUPER_SECRET"
      - name: Check credentials.json
        run: locate credentials.json
      
